@import "tailwindcss";
@font-face {
font-family: 'Anek Tamil Medium';
font-style: normal;
font-weight: normal;
src: local('Anek Tamil Medium'), url(/driven/public/AnekTamil[wdth\,wght].woff) format('woff');
}


.header {
    justify-content: space-between;
}

nav ol {
    gap: 4rem;
}


